<section class="testimonials">
	<h3 class="default__title">Brands we work with. And what they say.</h3>
	<p class="default__desc">We have relied for more than a decade catering for worldwide events and venues, and we have
		visited 26 countries <br> helping our clients to promote their brands via our services. From the Savoy hotel in
		London
		to The Ritz in Dubai.</p>
	<div class="testimonials__container">
		<div class="testimonials__map">
			<iframe src="https://www.google.com/maps/d/embed?mid=1AtXJfAEbLJeVKUk-huYQbTrajsConHo&ehbc=2E312F" width="640"
				height="480"></iframe>
		</div>
		<div class="testimonials__holder">
			<div class="testimonials__content">
				<div class="testimonials__card">
					<p class="testimonials__card--text">
						Aroma Baristas provided a flawless service during my recent 3 day conference. Their coffee was amazing and
						well received by our delegates. Having them at the event definitely brought value to the conference and I
						look forward to using them again at my next event.
					</p>
					<div class="avatar">
						<div class="avatar__img">
							<img src="./assets/avatar.png" alt="" />
						</div>
						<div class="avatar__infos">
							<p class="avatar__title">Mandy Simons</p>
							<p class="avatar__desc">ICBI</p>
						</div>
					</div>
				</div>
				<div class="testimonials__card">
					<p class="testimonials__card--text">
						Great team to work with, always adaptable with our requirements. Best of all, great coffee!!! Recommend for
						any corporate event.
					</p>
					<div class="avatar">
						<div class="avatar__img">
							<img src="./assets/avatar.png" alt="" />
						</div>
						<div class="avatar__infos">
							<p class="avatar__title">Christopher Armstrong</p>
							<p class="avatar__desc">Bloomberg</p>
						</div>
					</div>
				</div>
				<div class="testimonials__card">
					<p class="testimonials__card--text">
						Thanks once again to the team at Aroma Baristas for putting on another impeccable demonstration of how to
						serve coffee during our busy store opening events.
					</p>
					<div class="avatar">
						<div class="avatar__img">
							<img src="./assets/avatar.png" alt="" />
						</div>
						<div class="avatar__infos">
							<p class="avatar__title">Jonathan Sharpe</p>
							<p class="avatar__desc">Cycle Surgery</p>
						</div>
					</div>
				</div>
				<div class="testimonials__card">
					<p class="testimonials__card--text">
						The team you sent were fantastic, very helpful and extremely professional.
					</p>
					<div class="avatar">
						<div class="avatar__img">
							<img src="./assets/avatar.png" alt="" />
						</div>
						<div class="avatar__infos">
							<p class="avatar__title">Nicole Leviton</p>
							<p class="avatar__desc">CCI</p>
						</div>
					</div>
				</div>
				<div class="testimonials__card">
					<p class="testimonials__card--text">
						The BEST coffee, the BEST service and overall such a great experience and feature at any event. Absolutely
						love working with Aroma and taking them across the globe with us to our events. Would 100% recommend!
					</p>
					<div class="avatar">
						<div class="avatar__img">
							<img src="./assets/avatar.png" alt="" />
						</div>
						<div class="avatar__infos">
							<p class="avatar__title">Karen Roberts</p>
							<p class="avatar__desc">EQT Partners</p>
						</div>
					</div>
				</div>
			</div>
			<div class="types__arrows">
				<div class="prev"><i class="bi bi-arrow-left-short"></i></div>
				<div class="next"><i class="bi bi-arrow-right-short"></i></div>
			</div>

		</div>
	</div>
	<div class="brands">
		<div class="brands__card"><img src="./assets/rbc-royal-bank-logo-vector 1.png" alt=""></div>
		<div class="brands__card"><img src="./assets/S&P_Global_Platts_Logo 1.png" alt=""></div>
		<div class="brands__card"><img src="./assets/Pfizer_logo 1.png" alt=""></div>
		<div class="brands__card"><img src="./assets/2560px-HSBC_logo_(2018) 1.png" alt=""></div>

	</div>
	<div class="button--container text-center">
		<a href="#" class="button bigger">GET AN INSTANT QUOTE <i class="bi bi-arrow-right-short"></i> </a>
	</div>
</section>